[Unit]
Description=Random wallpaper with feh
After=xorg.target

[Service]
Type=oneshot
EnvironmentFile=%h/.wallpaper
Environment=DISPLAY=%i
ExecStart=/bin/bash -c '/usr/bin/feh --bg-max "$(find ${WALLPATH} -iname *.jpg |shuf|head -n 1)"'

[Install]
WantedBy=startup.target
